# Database With Python

Install connector

In [1]:
import psycopg2

reset password 

###### ALTER USER postgres WITH PASSWORD 'new_password';

Create connectors

In [2]:
my_conn = psycopg2.connect(
    
    host = "localhost",
    database = 'database',
    user = 'postgres',
    password = "kill"
    
    
    
)

has a cursor

In [3]:
cur = my_conn.cursor()

make simple query

In [7]:
cur.execute('SELECT current_user')
print(cur.fetchone()[0])

postgres

create new database

In [6]:
my_conn.autocommit = True
cur = my_conn.cursor()
cur.execute("CREATE DATABASE D_NEW")

how to get all database name

In [9]:
cur.execute("SELECT datname from PG_database WHERE datistemplate = false")
for db in cur.fetchall():
    print(db[0])

postgres
database
bik
task1
student_des
ds_new

In [ ]:
cur.execute("CREATE TABLE students_ (name VARCHAR(50), ohone VARCHAR(20))")
print("table created")

DuplicateTable: relation "students_" already exists

In [9]:
cur.execute("ALTER TABLE students_ RENAME COLUMN ohone TO phone")

In [12]:
sql = "INSERT INTO students_ (name , phone) VALUES(%s,%s)"
data = ("mohamed", "1234567")
cur.execute(sql,data)
my_conn.commit()
print("the new record was inserted")
print(cur.rowcount)

the new record was inserted
1

In [14]:
sql = "INSERT INTO students_ (name , phone) VALUES(%s,%s)"
data = [
        ("mohamed", "1234567"),
        ("mohamed", "1234567"),
        ("mohamed", "1234567"),
        ("mohamed", "1234567"),
        ("mohamed", "1234567")
        
        ]
cur.executemany(sql, data)
my_conn.commit()
print(cur.rowcount)

5

In [15]:
cur.execute("select * from students_")
results = cur.fetchall()
for i in results :
    print(i)

('hager', '123456')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')

In [16]:
cur.execute("select name from students_")
results = cur.fetchall()
for i in results :
    print(i)

('hager',)
('mohamed',)
('mohamed',)
('mohamed',)
('mohamed',)
('mohamed',)
('mohamed',)
('mohamed',)
('mohamed',)
('mohamed',)
('mohamed',)
('mohamed',)

In [ ]:
cur.execute("select phone from students_ where name = %s ")
data = ("faris")
results = cur.fetchall()
for i in results :
    print(i)

('123456',)

In [22]:
sql= "SELECT phone FROM students_ WHERE name = %s "
data = ("hager",)
cur.execute(sql,data)
results = cur.fetchall()
print(results)

[('123456',)]

In [25]:
cur.execute("UPDATE students_ SET phone = '0000000' where name = 'hager' ")
my_conn.commit()
cur.execute("select * from students_")
results = cur.fetchall()
for i in results :
 print(i)

('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('hager', '0000000')

In [28]:
# Get inputs from user 
update_value = input("Enter new phone: ") 
condition_value = input("Enter student name: ") #
#  Create the data tuple
data = (update_value, condition_value) 
# Execute update with parameters 
sql = cur.execute("UPDATE students_ SET phone = %s WHERE name = %s", data) 
my_conn.commit() 
# Fetch and print all rows 
cur.execute("SELECT * FROM students_") 
results = cur.fetchall() 
for row in results: 
    print(row)

('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('hager', '0000000')

In [ ]:
name_to_delete = input("enter name to delete :")
cur.execute("delete from students_ where name = %s ", (name_to_delete,))
my_conn.commit()
if cur.rowcount > 0 :
    print(f"{cur.rowcount} record (s) deleted .")
else :
    print("no student found")  
cur.execute("select * from students_")     
results = cur.fetchall() 
for row in results: 
    print(row)

no student found
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')
('mohamed', '1234567')